.Container {
    background-color: white;
    margin: 20px 10px 0px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 90vw;
}

.progressKazu {
    font-size: 1.3em;
}

.progressConteinae {
    margin: 0 0 0 auto;
    padding: 20px;
    font-size: 2em;
}

.progress {
    font-size: 1.5em;
}