/* src/styles/global.css */

/* ブラウザのデフォルトマージン・パディングをリセット */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* 横方向のスクロールバーを非表示にする (必要であれば) */
}

/* 他のグローバルなスタイルがあればここに記述 */
/* 全体のフォント設定 */
body {
    font-family: "Kosugi Maru", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}