.quizPage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizContent {
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.quizTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.quizQuestion {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #080808;
}

.quizOptions {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
}

.quizOption {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.quizOption.selected {
    background-color: #2889ff;
    color: white;
}

.answerMessage {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.correct {
    background-color: #9effa1fc;
    border: 1px solid #4caf50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.quizAnswer {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
}

.quizButton {

    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}