.camera {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-color: #64dd8c;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    bottom: 20px;

}




/* スマートフォンでの見た目を考慮したメディアクエリ（必要であれば調整） */
@media (max-width: 768px) {

    .camera img {
        width: 40px;
        height: 40px;
        padding: 11px;
    }


}