.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #DFFFD8;
}

.progressContainer {
    position: absolute;
    top: 190px;
    left: 5px;
    z-index: 2;
}

.title {
    text-align: center;
    font-size: 1.8em;
    font-weight: 900;
    color: #ffd700;
    margin: 1em auto;
    padding: 0.2em 0.5em;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.4),
        -1px -1px 0 #fff1e8;
    letter-spacing: 0.05em;
    line-height: 1;

}

.stampCompleteLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.stampCompleteLists img {
    width: 10vw;
}

.stampListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 150px;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.listTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: #625454;
    margin-bottom: 20px;
}

.stampList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}